In [9]:

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress

# Movie data files
imdb_metadata_path = "IMDb movies.csv"

# Read the movie data 
imdb_metadata = pd.read_csv(imdb_metadata_path, low_memory=False)

In [23]:
split_cols = imdb_metadata['genre'].str.split(',',expand=True)
split_cols_df = imdb_metadata.join(split_cols)
split_cols_df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics,0,1,2
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,154,NaN,NaN,NaN,NaN,1.0,2.0,Romance,None,None
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,589,$ 2250,NaN,NaN,NaN,7.0,7.0,Biography,Crime,Drama
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,188,NaN,NaN,NaN,NaN,5.0,2.0,Drama,None,None
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,446,$ 45000,NaN,NaN,NaN,25.0,3.0,Drama,History,None
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,2237,NaN,NaN,NaN,NaN,31.0,14.0,Adventure,Drama,Fantasy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,398,NaN,NaN,$ 3507171,NaN,NaN,4.0,Comedy,None,None
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,724,NaN,NaN,$ 7299062,NaN,6.0,4.0,Comedy,Drama,None
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,265,NaN,NaN,NaN,NaN,NaN,NaN,Drama,None,None
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,194,NaN,NaN,$ 2833,NaN,NaN,NaN,Drama,Family,None
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,102,NaN,NaN,$ 59794,NaN,NaN,2.0,Drama,None,None